<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ibm.dots.task">
      <task
            class="org.openntf.dominotweets.tasklets.Monitor"
            id="monitor"
            runOnStart="false"
            triggered="false">
         <run
               every="30"
               unit="second">
         </run>
      </task>
   </extension>

</plugin>
